@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  min-height: 100%;
  scroll-behavior: smooth;
}

@layer components {
  @supports (-webkit-text-stroke: 1px black) {
    .text-stroke-white {
      -webkit-text-stroke: 1px #bdbbb6;
      -webkit-text-fill-color: transparent;
    }
    .text-stroke-black {
      -webkit-text-stroke: 1px #333;
      -webkit-text-fill-color: transparent;
    }
    .stroke-cyan {
      -webkit-text-stroke: 1px #dc4492;
      -webkit-text-fill-color: #ffedd5;
    }
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3b3657;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #3b3657;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #808080;
}
